:root {
    --main-color: #CB0216;
    --first-color: #CB0216;
    --second-color: #0E7AD7;
    --third-color: #ED9B28;
}

body {
    font-family: 'Nunito', sans-serif;
}

.mainButton{
    border: 1px solid var(--main-color);
    color: var(--main-color);
    letter-spacing: 1.2px;
    transition-duration: .5s;
}

.mainButton:hover{
    color: white;
    background-color: var(--main-color);

}

.mainColor{
    color: var(--main-color);
}