nav.navbar {
    background: rgba(242, 242, 242, .5);
    background: -webkit-linear-gradient(to right, rgba(234, 234, 234, .5), rgba(219, 219, 219, .5), rgba(242, 242, 242, .5), rgba(173, 169, 150, .5));
    background: linear-gradient(to right, rgba(234, 234, 234, .5), rgba(219, 219, 219, .5), rgba(242, 242, 242, .5), rgba(173, 169, 150, 0.5));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 .5rem 1rem #0000001a;
}

nav.navbar.scrolled {
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

nav.navbar .navbar-brand {
    width: 8%;
}

nav.navbar i {
    transition-duration: .5s;
    cursor: pointer;
    color: #777;
}

nav.navbar i:hover {
    color: var(--main-color);
}

nav.navbar .nav-link {
    letter-spacing: 1.2px;
    position: relative;
}

nav.navbar .nav-link.active {
    padding: 8px;
    color: var(--main-color);
}

nav.navbar .nav-link:before,
nav.navbar .nav-link:after {
    content: "";
    width: 25%;
    height: 25%;
    display: block;
    position: absolute;
    opacity: 0;
    transition-duration: .5s;
}

nav.navbar .nav-link:hover:before,
nav.navbar .nav-link.active:before,
nav.navbar .nav-link:hover:after,
nav.navbar .nav-link.active:after {
    transform: translateX(0px);
    opacity: 1;
}

nav.navbar .nav-link:before {
    top: 0;
    left: 0;
    border-top: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    transform: translateX(-15px);
}

nav.navbar .nav-link:after {
    bottom: 0;
    right: 0;
    border-bottom: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    transform: translateX(15px);
}


/*         Header           */
header #SC-carousel,
header #SC-carousel .sc-carousel-inner {
    position: relative;
}

header #SC-carousel .sc-carousel-inner .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* z-index: 1; */
    display: none;
}

header #SC-carousel .sc-carousel-inner .carousel-item.active {
    /* z-index: 3; */
    display: block;
}

header #SC-carousel .sc-carousel-inner .carousel-item:nth-of-type(1) {
    background-image: url("../nike_images/home-bg-1.jpg");
}

header #SC-carousel .sc-carousel-inner .carousel-item:nth-of-type(2) {
    background-image: url("../nike_images/home-bg-2.jpg");
}

header #SC-carousel .sc-carousel-inner .carousel-item:nth-of-type(3) {
    background-image: url("../nike_images/home-bg-3.jpg");
}



header #SC-carousel .sc-carousel-inner .carousel-item .part1 {
    display: flex;
    align-items: center;
}

header #SC-carousel .sc-carousel-inner .carousel-item .part1 .item {
    transform: translateX(-100%);
    opacity: 0;
    transition-duration: 1.3s;
    transition-delay: 1s;
}

header #SC-carousel .sc-carousel-inner .carousel-item.show .part1 .item {
    transform: translateX(0%);
    opacity: 1;
}

header #SC-carousel .sc-carousel-inner .carousel-item .part1 h2 {
    font-size: 50px;
    color: #2c2c54;
    font-weight: 600;
}

header #SC-carousel .sc-carousel-inner .carousel-item .part2 .item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

header #SC-carousel .sc-carousel-inner .carousel-item .part2 img:nth-of-type(1) {
    position: relative;
    width: 70%;
    transform: translateY(-200px);
    transition-duration: 1s;
    transition-delay: .5s;
    opacity: 0;
}

header #SC-carousel .sc-carousel-inner .carousel-item.show .part2 img:nth-of-type(1) {
    transform: translateY(-10%);
    opacity: 1;

}

header #SC-carousel .sc-carousel-inner .carousel-item .part2 img:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg) scale(.5);
    transition-duration: 1s;
}

header #SC-carousel .sc-carousel-inner .carousel-item.show .part2 img:nth-of-type(2) {
    transform: translate(-50%, -50%) rotate(-35deg) scale(1);
    opacity: 1;

}






header #SC-carousel>button {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border-radius: 100%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    transition-duration: .5s;
    z-index: 5;
}

header #SC-carousel>button:hover {
    color: white;
    background-color: var(--main-color);

}

header #SC-carousel button.prev {
    left: 20px;
}

header #SC-carousel button.next {
    right: 20px;
}